In [1]:
#import dependencies
import pandas as pd

In [68]:
#create paths the read in the csv files
school_data_path = 'PyCitySchools/Resources/schools_complete.csv'
student_data_path = 'PyCitySchools/Resources/students_complete.csv'
school_df = pd.read_csv(school_data_path)
student_df = pd.read_csv(student_data_path)

In [3]:
school_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
student_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [26]:
#merge the dataframes to consolidate data
complete_df = pd.merge(school_df, student_df, how = 'left', on = ['school_name', 'school_name'])
complete_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

## District Summary

In [49]:
school_count = len(complete_df['school_name'].unique())
print(f"there are {school_count} schools in the district")

there are 15 schools in the district

In [50]:
student_count = len(complete_df)
print(f"there are {student_count} students in the district")

there are 39170 students in the district

In [51]:
tot_budget = 0
for i in range(len(school_df['budget'])):
    tot_budget += school_df['budget'][i]
    
print(f"the district's total budget is ${tot_budget}")

the district's total budget is $24649428

In [52]:
avg_math = complete_df['math_score'].mean()
avg_reading = complete_df['reading_score'].mean()

print(f"the average student's math score is {avg_math}")
print(f"the average student's reading score is {avg_reading}")

the average student's math score is 78.98537145774827
the average student's reading score is 81.87784018381414

In [63]:
passing_math_count = complete_df[(complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count)
passing_math_percentage

0.749808526933878

In [64]:
passing_reading_count = complete_df[(complete_df['reading_score'] >= 70)].count()['student_name']
passing_reading_count = passing_reading_count / float(student_count)
passing_reading_count

0.8580546336482001

In [66]:
passing_math_reading_count = complete_df[
    (complete_df["math_score"] >= 70) & (complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count)
overall_passing_rate

0.6517232575950983

In [67]:
data = {'total schools' : [school_count], 'total students' : [student_count], 'total budget' : tot_budget,
       'average math score' : avg_math, 'average reading score': avg_reading,
       '% passing math': passing_math_percentage, '% passing reading' : passing_reading_count, '% overall passing' : overall_passing_rate}
district_summary = pd.DataFrame(data)

district_summary['total students'] = district_summary['total students'].map("{:,}".format)
district_summary["total budget"] = district_summary["total budget"].map("${:,.2f}".format)
#following formatting negates the need to multiply by 100 in the prev cells
district_summary['% passing math'] = district_summary['% passing math'].map('{:,.2%}'.format)
district_summary['% passing reading'] = district_summary['% passing reading'].map('{:,.2%}'.format)
district_summary['% overall passing'] = district_summary['% overall passing'].map('{:,.2%}'.format)

#output district summary dataframe
district_summary

,total schools,total students,total budget,average math score,average reading score,% passing math,% passing reading,% overall passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%

## School Summary

In [90]:
school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [93]:
per_school_counts = school_df.set_index(['school_name'])['size']
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [102]:
len(school_types)

15

In [103]:
len(per_school_counts)

15

In [104]:
len(per_school_budget)

15

In [105]:
len(per_school_capita)

15

In [106]:
len(per_school_math)

15

In [107]:
len(per_school_reading)

15

In [110]:
len(school_passing_reading)

33610

In [95]:
per_school_budget = complete_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [96]:
per_school_math = complete_df.groupby(['school_name']).mean()['math_score']
per_school_reading = complete_df.groupby(['school_name']).mean()['reading_score']

In [115]:
school_passing_math = per_school_math / per_school_counts
school_passing_reading = per_school_reading / per_school_counts

passing_math_and_reading = complete_df[
    (complete_df["reading_score"] >= 70) & (complete_df["math_score"] >= 70)
]

In [120]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count() / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count() / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count() / per_school_counts * 100

In [123]:
schools_data = {'School Type' : school_types, 'Total Students' : per_school_counts,
               'Total School Budget' : per_school_budget, 'Per Student Budget' : per_school_capita,
               'Average Math Score' : per_school_math, 'Average Reading Score' : per_school_reading,
               '% Passing Math' : per_school_passing_math, '% Passing Reading' : per_school_passing_reading,
               '% Passing Overall' : overall_passing_rate}

per_school_summary = pd.DataFrame(schools_data)

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

ValueError: could not broadcast input array from shape (25,) into shape (15,)